{% extends 'layout.html' %}

{% block title %} wellcome our side {% endblock title %}


{% block style %}
{% endblock style %}


{% block mainContant %} 

<section class="container bg-success-subtle">
    <h1 class="text-center my-4">Twieet Your Own Ideas</h1>

    <div class="w-50">
            <form method="post" action="" novalidate>{% csrf_token %}
                {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div style="color: red;">
                    {% for error in field.errors %}
                    <small>{{ error }}</small><br>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
                <button class="btn btn-outline-primary" type="submit">Register</button>
            </form>
            <p>already habe an account <a href="{% url 'login' %}">login in</a></p>

    </div>
</section>

{% endblock mainContant %}




{% block scripts %}
{% endblock scripts %}